* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
	/* scroll-behavior: smooth; */
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

html {
	display: table;
	margin: auto;
}

body {
	max-width: 1024px;
	margin: 0 auto;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #E3E3E3;
	font-size: 1.2em;
	line-height: 1.5em;
	display: table-cell;
	vertical-align: middle;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1 {
	font-size: 1.4rem;
}
	/* begins to set up font sizes relative to base rem – h1 has been used as an example */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}
    /* sets superscript and subscript text so that it doesn't throw off leading for elements in which they are included */


.FlexContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	background-color: #2f1d58;
	padding: 50px;
}

.FlexContainer div {
	margin: 5px;
	background-color: lightblue;
}	

.deck {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	border: 3px solid black;
	margin: 2em;
} 

.deck-element{
	padding: 2em;
}

 /* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 

  

  .my-button {
	background-color: transparent;
	border: 10px;
	color: black;
	cursor: pointer;
	font-size: 30px;
	margin-left: 32px;
	float: left;
	line-height: 70px;
	display: none;
  }
  
  .my-button:focus {
	outline: none;
  }
  
  nav {
	  background-color: grey;
	  flex-wrap: wrap;
  }
  
  nav ul {
	  display: flex;
	  justify-content: center;
	  list-style: none
  }
  
  nav ul li {
	  padding: 20px 20px;
  }
  
  nav ul li a {
	  color: white;
	  text-decoration: none;
  }
  
  nav ul li:hover {
	  text-decoration: underline;
	  text-decoration-color: red;
  }
  
  
  @media (max-width: 800px) {
	nav ul {
	  display: none;
	  flex-direction: column;
	  width: 100%;
	}
	
	nav ul.show {
	  display: flex;
	}
	
	.my-button {
	  display: block;
	}
  }
  
  @media (max-width: 600px) {
	  nav ul {
	  display: none;
	  flex-direction: column;
	  width: 100%;
	}
	
	nav ul.show {
	  display: flex;
	}
	
	.my-button {
	  display: block;
	}
	  nav {
		  background-color: rgb(62, 109, 149);
	  }
  }
  